* {
    box-sizing: border-box;
}

header {
    background-color: #84E4D6;
    position: relative;
}
.navbar-brand {
    float: left;
}
.Introduction {
    float: left;
    padding-top: 60px;
}
.Introduction h1 {
    font-size: 8em;
}
#navlist, #collapsable-nav, .nav-item, .nav-link {
    width: 100%;
    margin: 0;
}
#collapsable-nav {
    background-color: azure;
    width: 100%;
}

#main-content {
    background-color: honeydew;
    padding: 20px;
}
#main-content  #h2 {
    background-color: darkcyan;
    margin-bottom: 20px;
}
#main-content  #h2 h2{
    font-size: 3em;
    font-style: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    background-color: black;
    color: azure;
}
#back-to-top-footer {
    text-decoration: none;
    color: azure;
}
#back-to-top-footer:hover, #back-to-top-footer:focus  {
    text-decoration: none;
    color: white;
    box-shadow: 10px whitesmoke;
}
